@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
}

::-moz-selection {
    background-color: #FF29DAB5;
    color: white;
}

::selection {
    background-color: #FF29DAB5;
    color: white;
}

.containerwidth {
    width: 80%;
    margin: 0 auto;
}

.container {
    background-color: rgba(65, 65, 65, 0.65);
    box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 10px;
    border-radius: 22px;
    padding: 14px;
    margin: 20px auto;
    height: 100%;
    width: 80%;
}

.button {
    border: none;
    background-color: #d740be;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    color: white;
    border-radius: 6px;
    transition: ease 300ms;
    text-align: center;
}

.button:hover {
    background-color: #f658ee;
    cursor: pointer;
}

a.submitbuttontext {
    color: #ffffff;
    text-decoration: none;
}

li {
    margin-right: 5px;
}

.containerheadtext {
    font-family: 'Varela Round', sans-serif;
    color: #f572e3;
    margin: 6px 0;
    font-size: 30px;
}

.containersubheadtext {
    font-family: 'Varela Round', sans-serif;
    color: #fcc0f1;
    font-size: 24px;
}

.containersubtext {
    font-family: 'Varela Round', sans-serif;
    color: #cbcbcb;
    font-size: 20px;
}