.container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

form {
    width: 100%;
}

.flexcontainer {
    width: 400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-items: center;
    display: flex;
}

input.user {
    font-family: 'Varela Round', sans-serif;
    border: none;
    outline: none;
    text-align: left;
    font-size: 18px;
    padding: 20px 10px;
    background-color: #222;
    margin: 6px;
    border-radius: 8px;
    height: 8px;
    width: calc(100% - 28px);
    color: #999;

}

.loginWarning {
    text-align: center;
    font-size: 16px;
    margin: 8px 0;
    color: #e01111;
    font-family: 'Varela Round', sans-serif;
}

.success {
    text-align: center;
    font-size: 16px;
    margin: 8px 0;
    color: #11e01b;
    font-family: 'Varela Round', sans-serif;
}

label {
    padding: 12px 25px;
    cursor: pointer;
    border: none;
    background-color: #d740be;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    color: white;
    border-radius: 6px;
    transition: ease 300ms;
    text-align: center;
    height: fit-content;
}

label:hover {
    background-color: #f658ee;
    cursor: pointer;

}

.makeitwork {
    display: flex;
    justify-content: space-evenly;
    margin: 8px;
}

#changeusername {
    display: flex;
    flex-direction: column;
}

#inputusername {
    display: flex;
    justify-content: space-evenly;
}